.column {
  margin-right: 20px;
}
header .logo {
  position: relative;
  max-width: 98px;
  top: 0;
}
.main-navigation ul.nav-menu > li > a {
  padding: 4px 15px 4px;
}
@media (max-width: 768px){
header .logo {
    position: absolute;
    max-width: 87px;
    top: 0;
}
}
